body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    background-color: #fffbf0;
    margin: 0;
    padding: 0;
}

body h1 {
    text-align: center;
}

nav {
    display: flex;
    height: auto;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    position: fixed;
    flex-direction: column;
    z-index: 999;
}

.nav-toggle {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 20px;
    display: inline-block;
    cursor: pointer;
    color: #fff;
    opacity: 0.8;
}

.nav-toggle:hover {
    opacity: 1;
}

.logo {
    font-size: 15px;
}

.logo h1 a {
    text-decoration: none;
    color: #fff;
    opacity: 0.8;
}

.logo h1 a:hover {
    opacity: 1;
}

ul {
    flex-direction: column;
    justify-content: center;
    padding-left: 0;
    display: none;
}

ul li {
    list-style-type: none;
    font-size: 15px;
    cursor: pointer;
    margin: 20px;
    text-align: center;
    border-bottom-style: solid;
    border-bottom-color: #fff;
    border-bottom-width: 1px;
    padding: 5px 100px;
    opacity: 0.8;
}

ul li a {
    text-decoration: none;
    color: #fff;
    opacity: 0.8;
}

ul li:first-child {
    margin-top: 0;
}

ul li a:hover {
    opacity: 1;
}

.active {
    display: flex;
}

/*  */

.img {
    display: flex;
    width: 100%;
}

.img img{
    width: 100%;
}

/*  */

.main {
    position: relative;
}

.profile {
    position: absolute;
    top: -80px;
    left: 50%;
    transform: translateX(-50%);
}

.profile img {
    max-width: 100%;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.content {
    text-align: center;
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

@media screen and (min-width: 1000px) {
    nav {
        height: 44px;
        flex-direction: row;
    }

    .logo {
        padding-left: 50px;
        margin: 0;
        width: 30%;
    }

    ul {
        display: flex;
        justify-content: flex-end;
        width: 70%;
        flex-direction: row;
    }

    ul li {
        display: inline-block;
        margin: 0 100px 0 0;
        text-align: left;
        border-bottom-style: none;
        padding: 0;
    }

    .nav-toggle {
        display: none;
    }

    .profile {
        position: absolute;
        top: -150px;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .profile img {
        max-width: 100%;
        width: 300px;
        height: 300px;
        border-radius: 50%;
    }
}

